.box{
    width: 200px;
    height: 200px;
    border: 1px black;
    display: inline-block;

}
.red-background{
    background-color: red;
}
.salmon-background{
    background-color: salmon;
}
.darkgoldenrod-background{
    background-color: darkgoldenrod;
}
.has-margin{
    margin: 0 50px;
}

.box-centered{
    width: 200px;
    height: 200px;
    border: 1px solid black;
    margin: 0 auto;
}
.text-container{          
    padding-left: 25px;
    border: 1px solid black;
}