/*FUENTES*/
.text-font{
font-family: "Roboto", sans-serif;
color: rgb(29, 29, 31);
}
.center-text{
    text-align: center;
}
.text-orange{
    color: coral;
}
.mediumbold{
    font-weight: 600;
}
.boldfont{
    font-weight: bold;
}
.mini-text{
    font-size: 10px;
}
.small-text{
    font-size: 12px;
}
.ultraligerotext{
    font-size: 25px;
}
.big-text{
    font-size: 75px;
}




/*BOTON COMPRAR*/
.button{
    color: #ffffff;
    font-family:"Roboto", sans-serif;
    background-color: rgb(0, 113, 227);
    margin: 5px auto;
}



/* +INFO */
.infolink{
    text-decoration: none;
    color: rgb(0, 113, 227);
    font-size: 12px;
}



/* IMG MACBOOK */
body{
    background-image: url(./assets/macbook-horizontal.jpg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 480px;
    background-size: 80%;
}




/*HEADER*/
.header{
    background-color: rgba(0, 0, 0, 0.8);
    height: 40px; 
}
.textheader{
    color: rgb(242, 242, 242);
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 0px;
    font-size: 14px;
}
.spanapple{
    float: left;
    margin-left: 105px;
}
.spanheader{
    margin-left: 50px;
    margin-right: 50px;
}
.spanbolsa{
    float: right;
    margin-right: 105px;
}
.ajustefoto{
    width: 25px;
}





/*Cajas grises con productos*/
.box1{
    margin-bottom: 30px;
    height: 850px;
    float: left;
    width: 47%;
    margin-top: 300px;
    background-color:  rgb(242, 242, 242);
    background-image: url(./assets/apple-tools.jpg);
    background-size: 1000px;
    background-repeat: no-repeat;
    background-position: bottom;
}
.box2{
    margin-bottom: 30px;
    height: 850px;
    float: right;
    width: 47%;
    margin-top: 300px;
    background-color: rgb(242, 242, 242);
    background-image: url(./assets/laptop-cover.jpg);
    background-size: 550px;
    background-repeat: no-repeat;
    background-position: bottom;
}
.textoarriba{
    font-size: 20px;
    margin-top: 70px;
}
.segundotexto{
    font-size: 60px;
    font-weight: bold;
    margin: 2px;
}
.tercertexto{
    font-size: 20px
}
.margintexto{
    margin-top: 20px;
}
.botonver{
    margin-top: 20px;
}


/*Ultimo párrafo*/
.backgrounddiv{
    margin-top: 1250px;
    height: 300px;
    width: 100%; 
    background-image: url(./assets/box.png);
    background-size: 50px;
    background-position: center;
    background-position-y: 30px;   
    background-repeat: no-repeat;
}

.paddingtext{
    padding-top: 100px;
}
.font20{
    font-size: 20px;
}






/*FOOTER*/
.footer{
    background-color: rgb(245, 245, 247);
    height: 100px;
}

.lastspan{
    text-decoration: none;
    font-size: 11px;
    border-right: 1px solid rgb(81, 81, 84);
    color: rgb(81, 81, 84);
    padding-right: 15px;
    margin-left: 15px;
}
.lastspan1{
    text-decoration: none;
    font-size: 11px;
    border-right: 1px solid rgb(81, 81, 84);
    color: rgb(81, 81, 84);
    padding-right: 15px;
}
.lastspan2{
    text-decoration: none;
    font-size: 11px;
    color: rgb(81, 81, 84);
    padding-right: 15px;
    margin-left: 15px;
}
.lastlink{
    text-decoration: none;
    color: rgb(81, 81, 84);
}
.footerdiv{
    margin-left: 120px;
    padding-top: 15px;
}